projeto/
.vscode/
ann/assignment/data.xls
arc_I/cache_simulator/arq.txt
arduino/libraries/readme.txt
arduino/libraries/IRremote/keywords.txt
arduino/libraries/IRremote/LICENSE.txt
NetBeansProjects/TrabalhoPLP/nbproject/licenseheader.txt
NetBeansProjects/TrabalhoPLP/chocos.txt
NetBeansProjects/Simulado/logs_email.txt
NetBeansProjects/Todolist-v4/import.txt
NetBeansProjects/Todolist-v4/exported.txt
NetBeansProjects/Todolist-v4/config.txt
projeto/Outros/P862/Software/readme.txt
projeto/Outros/P862/Software/Conform/supp23.txt
projeto/Outros/P862/Software/Conform/voipref.txt
projeto/Outros/p563_Software v1.1/Sourcecode/readme.txt
projeto/mimo/16to48/log.txt
projeto/mimo/pesq_results.txt
projeto/mimo/functions/.ignore/ghostscript.txt
projeto/mimo/functions/.ignore/gs_font_path.txt
projeto/mimo/others/source_p862.2/readme.txt
projeto/mimo/others/AMRWB/c-code/readme.txt
projeto/mimo/others/EVS/c-code/readme.txt
projeto/mimo/others/AMRWB-26173/c-code/readme.txt
projeto/mimo/SQuadAnalyzer/Doc/SQuadAnalyzer_Results_SQuad_reference.txt
projeto/mimo/SQuadAnalyzer/Doc/SQuadAnalyzer_Results_POLQA_reference.txt
compilers/lexical/bnf-java.txt
Workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Workspace/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
ann/assignment/requirements.txt
ann/assignment/maping.txt
ann/assignment/errs/err1.txt
ann/assignment/errs/err3.txt
ann/assignment/errs/err8.txt
ann/assignment/errs/err9.txt
ann/assignment/errs/err2.txt
ann/assignment/errs/err6.txt
ann/assignment/errs/err5.txt
ann/assignment/errs/err7.txt
ann/assignment/errs/err4.txt
ann/assignment/errs/err10.txt
graphs/TP1/p2/entradap2.txt
graphs/TP1/p1/Tempo_Execucao.txt
graphs/TP1/p1/entrada.txt
projeto/Outros/P862/P862E.doc
projeto/mimo/others/AMRWB/26204-e10.doc
projeto/mimo/others/EVS/26442-e10.doc
projeto/mimo/others/AMRWB-26173/26173-e10.doc
graphs/TP2/Documento/Grafos.odt
compilers/lexical/__pycache__/JavaLexer.cpython-35.pyc
compilers/lexical/JavaLexer.pyc
computer_networks/tp_ping/UDPPing.pyc
ann/assignment/__pycache__/functions.cpython-35.pyc
arc_I/cache_simulator/main.o
prog_lang/Haskell/questao7.o
prog_lang/Haskell/questao4.o
prog_lang/Haskell/questao12.o
prog_lang/Haskell/questao10.o
prog_lang/Haskell/questao13.o
prog_lang/Haskell/questao11.o
prog_lang/Haskell/questao5.o
prog_lang/Haskell/questao8.o
prog_lang/Haskell/questao9.o
prog_lang/Haskell/questao6.o
algorithms_complexity/breadth_first_search/main.o
algorithms_complexity/breadth_first_search/list.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/Quant.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/dsp.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/SignalsPercept.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/mapping.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/module1.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/lpc.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/tools.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/vector_lib.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/SpeechLib.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/module2.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/LpcAnalysis.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/inter_detect.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/Statistics.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/EvalQual.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/Enhance.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/module3.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/p563.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/tools1.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/beeprob.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/back_noise.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/hosm.o
projeto/Outros/p563_Software v1.1/Sourcecode/obj/pitch.o
projeto/mimo/others/AMRWB/c-code/enc_gain.o
projeto/mimo/others/AMRWB/c-code/enc_main.o
projeto/mimo/others/AMRWB/c-code/encoder.o
projeto/mimo/others/AMRWB/c-code/dec_gain.o
projeto/mimo/others/AMRWB/c-code/enc_dtx.o
projeto/mimo/others/AMRWB/c-code/dec_lpc.o
projeto/mimo/others/AMRWB/c-code/if_rom.o
projeto/mimo/others/AMRWB/c-code/enc_lpc.o
projeto/mimo/others/AMRWB/c-code/enc_if.o
projeto/mimo/others/AMRWB/c-code/dec_main.o
projeto/mimo/others/AMRWB/c-code/dec_dtx.o
projeto/mimo/others/AMRWB/c-code/enc_acelp.o
projeto/mimo/others/AMRWB/c-code/enc_rom.o
projeto/mimo/others/AMRWB/c-code/enc_util.o
projeto/mimo/others/AMRWB/c-code/dec_util.o
projeto/mimo/others/AMRWB/c-code/decoder.o
projeto/mimo/others/AMRWB/c-code/dec_if.o
projeto/mimo/others/AMRWB/c-code/dec_acelp.o
projeto/mimo/others/AMRWB/c-code/dec_rom.o
projeto/mimo/others/EVS/c-code/build/basop_mpy.o
projeto/mimo/others/EVS/c-code/build/frame_spec_dif_cor_rate.o
projeto/mimo/others/EVS/c-code/build/ppp_fx.o
projeto/mimo/others/EVS/c-code/build/energy.o
projeto/mimo/others/EVS/c-code/build/enc_gain.o
projeto/mimo/others/EVS/c-code/build/lead_deindexing_fx.o
projeto/mimo/others/EVS/c-code/build/igf_base.o
projeto/mimo/others/EVS/c-code/build/lerp.o
projeto/mimo/others/EVS/c-code/build/ppp_dec_fx.o
projeto/mimo/others/EVS/c-code/build/pitch_ol.o
projeto/mimo/others/EVS/c-code/build/range_dec_fx.o
projeto/mimo/others/EVS/c-code/build/dec_amr_wb_fx.o
projeto/mimo/others/EVS/c-code/build/bass_psfilter_fx.o
projeto/mimo/others/EVS/c-code/build/voip_client.o
projeto/mimo/others/EVS/c-code/build/lsf_msvq_ma_enc.o
projeto/mimo/others/EVS/c-code/build/gaus_enc_fx.o
projeto/mimo/others/EVS/c-code/build/fft_rel_fx.o
projeto/mimo/others/EVS/c-code/build/hq2_noise_inject_fx.o
projeto/mimo/others/EVS/c-code/build/diffcod_fx.o
projeto/mimo/others/EVS/c-code/build/fft_fx.o
projeto/mimo/others/EVS/c-code/build/hq2_bit_alloc_fx.o
projeto/mimo/others/EVS/c-code/build/inov_dec_fx.o
projeto/mimo/others/EVS/c-code/build/pvq_core_enc_fx.o
projeto/mimo/others/EVS/c-code/build/dec_prm.o
projeto/mimo/others/EVS/c-code/build/recovernorm_fx.o
projeto/mimo/others/EVS/c-code/build/hq_env_enc_fx.o
projeto/mimo/others/EVS/c-code/build/hq_classifier_enc_fx.o
projeto/mimo/others/EVS/c-code/build/gain_inov.o
projeto/mimo/others/EVS/c-code/build/low_rate_band_att_fx.o
projeto/mimo/others/EVS/c-code/build/enc_higher_acelp_fx.o
projeto/mimo/others/EVS/c-code/build/syn_12k8_fx.o
projeto/mimo/others/EVS/c-code/build/qlpc_stoch.o
projeto/mimo/others/EVS/c-code/build/mslvq_enc_fx.o
projeto/mimo/others/EVS/c-code/build/setmodeindex.o
projeto/mimo/others/EVS/c-code/build/TonalComponentDetection.o
projeto/mimo/others/EVS/c-code/build/gain_dec_fx.o
projeto/mimo/others/EVS/c-code/build/transition_enc_fx.o
projeto/mimo/others/EVS/c-code/build/enc_prm.o
projeto/mimo/others/EVS/c-code/build/acelp_core_switch_dec_fx.o
projeto/mimo/others/EVS/c-code/build/enhancer_fx.o
projeto/mimo/others/EVS/c-code/build/dec_tran_fx.o
projeto/mimo/others/EVS/c-code/build/rom_enc_fx.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_dec_lr_fx.o
projeto/mimo/others/EVS/c-code/build/mslvq_com_fx.o
projeto/mimo/others/EVS/c-code/build/cldfb.o
projeto/mimo/others/EVS/c-code/build/core_dec_switch.o
projeto/mimo/others/EVS/c-code/build/vlpc_1st_cod.o
projeto/mimo/others/EVS/c-code/build/pred_lt4_fx.o
projeto/mimo/others/EVS/c-code/build/ACcontextMapping_dec.o
projeto/mimo/others/EVS/c-code/build/vad_basop.o
projeto/mimo/others/EVS/c-code/build/hq_env_dec_fx.o
projeto/mimo/others/EVS/c-code/build/cor_shif_fx.o
projeto/mimo/others/EVS/c-code/build/FEC_HQ_core_fx.o
projeto/mimo/others/EVS/c-code/build/guided_plc_util.o
projeto/mimo/others/EVS/c-code/build/core_enc_switch.o
projeto/mimo/others/EVS/c-code/build/cod_uv.o
projeto/mimo/others/EVS/c-code/build/lead_indexing_fx.o
projeto/mimo/others/EVS/c-code/build/er_util.o
projeto/mimo/others/EVS/c-code/build/stat_noise_uv_dec_fx.o
projeto/mimo/others/EVS/c-code/build/bitalloc_fx.o
projeto/mimo/others/EVS/c-code/build/encoder.o
projeto/mimo/others/EVS/c-code/build/FEC_lsf_estim_fx.o
projeto/mimo/others/EVS/c-code/build/tonalMDCTconcealment.o
projeto/mimo/others/EVS/c-code/build/fd_cng_enc.o
projeto/mimo/others/EVS/c-code/build/q_gain2p.o
projeto/mimo/others/EVS/c-code/build/delay_comp.o
projeto/mimo/others/EVS/c-code/build/dec_ace.o
projeto/mimo/others/EVS/c-code/build/eval_pit_contr_fx.o
projeto/mimo/others/EVS/c-code/build/wi_fx.o
projeto/mimo/others/EVS/c-code/build/core_enc_updt.o
projeto/mimo/others/EVS/c-code/build/igf_enc.o
projeto/mimo/others/EVS/c-code/build/preemph_fx.o
projeto/mimo/others/EVS/c-code/build/dtx_fx.o
projeto/mimo/others/EVS/c-code/build/dec_tcx.o
projeto/mimo/others/EVS/c-code/build/tcx_mdct.o
projeto/mimo/others/EVS/c-code/build/bitallocsum_fx.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_enc_lr_fx.o
projeto/mimo/others/EVS/c-code/build/math_32.o
projeto/mimo/others/EVS/c-code/build/modif_fs_fx.o
projeto/mimo/others/EVS/c-code/build/hq_hr_dec_fx.o
projeto/mimo/others/EVS/c-code/build/vad_fx.o
projeto/mimo/others/EVS/c-code/build/subband_fft.o
projeto/mimo/others/EVS/c-code/build/dec_uv.o
projeto/mimo/others/EVS/c-code/build/tcq_core_enc_fx.o
projeto/mimo/others/EVS/c-code/build/detect_transient_fx.o
projeto/mimo/others/EVS/c-code/build/LD_music_post_filter_fx.o
projeto/mimo/others/EVS/c-code/build/vad_param_updt_fx.o
projeto/mimo/others/EVS/c-code/build/gs_gains_fx.o
projeto/mimo/others/EVS/c-code/build/pvq_com_fx.o
projeto/mimo/others/EVS/c-code/build/acelp_core_switch_enc_fx.o
projeto/mimo/others/EVS/c-code/build/sig_clas.o
projeto/mimo/others/EVS/c-code/build/wtda_fx.o
projeto/mimo/others/EVS/c-code/build/jbm_jb4_jmf.o
projeto/mimo/others/EVS/c-code/build/cb_shape_fx.o
projeto/mimo/others/EVS/c-code/build/jbm_jb4_circularbuffer.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_com_hr_fx.o
projeto/mimo/others/EVS/c-code/build/dlpc_bfi.o
projeto/mimo/others/EVS/c-code/build/post_dec.o
projeto/mimo/others/EVS/c-code/build/FEC_clas_estim_fx.o
projeto/mimo/others/EVS/c-code/build/dec_acelp_tcx_main.o
projeto/mimo/others/EVS/c-code/build/dec_nelp_fx.o
projeto/mimo/others/EVS/c-code/build/stab_est_fx.o
projeto/mimo/others/EVS/c-code/build/lsf_enc_fx.o
projeto/mimo/others/EVS/c-code/build/dec_LPD.o
projeto/mimo/others/EVS/c-code/build/lp_exc_d_fx.o
projeto/mimo/others/EVS/c-code/build/FEC_scale_syn_fx.o
projeto/mimo/others/EVS/c-code/build/mdct_selector.o
projeto/mimo/others/EVS/c-code/build/lsf_tools_fx.o
projeto/mimo/others/EVS/c-code/build/dlpc_avq.o
projeto/mimo/others/EVS/c-code/build/pvq_encode_fx.o
projeto/mimo/others/EVS/c-code/build/tcx_ltp.o
projeto/mimo/others/EVS/c-code/build/hvq_pvq_bitalloc_fx.o
projeto/mimo/others/EVS/c-code/build/enh1632.o
projeto/mimo/others/EVS/c-code/build/enc_acelp_tcx_main.o
projeto/mimo/others/EVS/c-code/build/noise_adjust_fx.o
projeto/mimo/others/EVS/c-code/build/long_enr.o
projeto/mimo/others/EVS/c-code/build/lpc_tools_fx.o
projeto/mimo/others/EVS/c-code/build/g192.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_dec_hr_fx.o
projeto/mimo/others/EVS/c-code/build/cod2t32_fx.o
projeto/mimo/others/EVS/c-code/build/cng_exc_fx.o
projeto/mimo/others/EVS/c-code/build/count.o
projeto/mimo/others/EVS/c-code/build/ACcontextMapping_enc.o
projeto/mimo/others/EVS/c-code/build/pvq_core_dec_fx.o
projeto/mimo/others/EVS/c-code/build/io_dec_fx.o
projeto/mimo/others/EVS/c-code/build/voiced_dec_fx.o
projeto/mimo/others/EVS/c-code/build/find_tilt_fx.o
projeto/mimo/others/EVS/c-code/build/ext_sig_ana.o
projeto/mimo/others/EVS/c-code/build/tcq_position_arith_fx.o
projeto/mimo/others/EVS/c-code/build/core_enc_reconf.o
projeto/mimo/others/EVS/c-code/build/ari_enc.o
projeto/mimo/others/EVS/c-code/build/er_scale_syn.o
projeto/mimo/others/EVS/c-code/build/hq_conf_fec_fx.o
projeto/mimo/others/EVS/c-code/build/rst_enc_fx.o
projeto/mimo/others/EVS/c-code/build/core_enc_ol.o
projeto/mimo/others/EVS/c-code/build/tcx_mdct_window.o
projeto/mimo/others/EVS/c-code/build/jbm_jb4_inputbuffer.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_enc_hr_fx.o
projeto/mimo/others/EVS/c-code/build/igf_scf_dec.o
projeto/mimo/others/EVS/c-code/build/bw_detect_fx.o
projeto/mimo/others/EVS/c-code/build/pitch_extr.o
projeto/mimo/others/EVS/c-code/build/decision_matrix_enc_fx.o
projeto/mimo/others/EVS/c-code/build/trans_direct_fx.o
projeto/mimo/others/EVS/c-code/build/findpulse_fx.o
projeto/mimo/others/EVS/c-code/build/ari.o
projeto/mimo/others/EVS/c-code/build/find_tar_fx.o
projeto/mimo/others/EVS/c-code/build/FEC_pitch_estim_fx.o
projeto/mimo/others/EVS/c-code/build/hq_conf_fx.o
projeto/mimo/others/EVS/c-code/build/basop_util.o
projeto/mimo/others/EVS/c-code/build/jbm_pcmdsp_window.o
projeto/mimo/others/EVS/c-code/build/analy_lp_fx.o
projeto/mimo/others/EVS/c-code/build/dec_higher_acelp_fx.o
projeto/mimo/others/EVS/c-code/build/deemph_fx.o
projeto/mimo/others/EVS/c-code/build/FEC_enc_fx.o
projeto/mimo/others/EVS/c-code/build/er_dec_acelp.o
projeto/mimo/others/EVS/c-code/build/FEC_fx.o
projeto/mimo/others/EVS/c-code/build/vlpc_1st_dec.o
projeto/mimo/others/EVS/c-code/build/dec2t32_fx.o
projeto/mimo/others/EVS/c-code/build/swb_tbe_dec_fx.o
projeto/mimo/others/EVS/c-code/build/hq_classifier_dec_fx.o
projeto/mimo/others/EVS/c-code/build/enc_tran_fx.o
projeto/mimo/others/EVS/c-code/build/gp_clip_fx.o
projeto/mimo/others/EVS/c-code/build/hp50.o
projeto/mimo/others/EVS/c-code/build/peak_vq_dec_fx.o
projeto/mimo/others/EVS/c-code/build/syn_outp_fx.o
projeto/mimo/others/EVS/c-code/build/enc_pit_exc_fx.o
projeto/mimo/others/EVS/c-code/build/lsf_dec_bfi_fx.o
projeto/mimo/others/EVS/c-code/build/core_dec_init.o
projeto/mimo/others/EVS/c-code/build/residu_fx.o
projeto/mimo/others/EVS/c-code/build/transition_dec_fx.o
projeto/mimo/others/EVS/c-code/build/analy_sp.o
projeto/mimo/others/EVS/c-code/build/re8_ppv_fx.o
projeto/mimo/others/EVS/c-code/build/pitch_ol2_fx.o
projeto/mimo/others/EVS/c-code/build/disclaimer.o
projeto/mimo/others/EVS/c-code/build/isf_dec_amr_wb_fx.o
projeto/mimo/others/EVS/c-code/build/tools_fx.o
projeto/mimo/others/EVS/c-code/build/swb_pre_proc_fx.o
projeto/mimo/others/EVS/c-code/build/igf_scf_enc.o
projeto/mimo/others/EVS/c-code/build/get_gain.o
projeto/mimo/others/EVS/c-code/build/arith_coder.o
projeto/mimo/others/EVS/c-code/build/jbm_jb4sb.o
projeto/mimo/others/EVS/c-code/build/core_enc_init.o
projeto/mimo/others/EVS/c-code/build/hdecnrm_fx.o
projeto/mimo/others/EVS/c-code/build/avq_cod_fx.o
projeto/mimo/others/EVS/c-code/build/stat_noise_uv_mod_fx.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_enc_fx.o
projeto/mimo/others/EVS/c-code/build/dec_post.o
projeto/mimo/others/EVS/c-code/build/lag_wind.o
projeto/mimo/others/EVS/c-code/build/io_enc_fx.o
projeto/mimo/others/EVS/c-code/build/enc_ppp_fx.o
projeto/mimo/others/EVS/c-code/build/reordernorm_fx.o
projeto/mimo/others/EVS/c-code/build/limit_t0_fx.o
projeto/mimo/others/EVS/c-code/build/env_adj_fx.o
projeto/mimo/others/EVS/c-code/build/core_enc_2div.o
projeto/mimo/others/EVS/c-code/build/basop32.o
projeto/mimo/others/EVS/c-code/build/hq_bit_allocation_fx.o
projeto/mimo/others/EVS/c-code/build/hq_tools_fx.o
projeto/mimo/others/EVS/c-code/build/EvsRXlib.o
projeto/mimo/others/EVS/c-code/build/window_ola_fx.o
projeto/mimo/others/EVS/c-code/build/transient_detection.o
projeto/mimo/others/EVS/c-code/build/fd_cng_dec.o
projeto/mimo/others/EVS/c-code/build/core_switching_dec_fx.o
projeto/mimo/others/EVS/c-code/build/amr_wb_enc_fx.o
projeto/mimo/others/EVS/c-code/build/gs_dec_amr_wb_fx.o
projeto/mimo/others/EVS/c-code/build/dec4t64_fx.o
projeto/mimo/others/EVS/c-code/build/enr_1_az_fx.o
projeto/mimo/others/EVS/c-code/build/ari_hm.o
projeto/mimo/others/EVS/c-code/build/edct_fx.o
projeto/mimo/others/EVS/c-code/build/fft_rel_sas_fx.o
projeto/mimo/others/EVS/c-code/build/dec_gen_voic_fx.o
projeto/mimo/others/EVS/c-code/build/scale_enc_fx.o
projeto/mimo/others/EVS/c-code/build/er_dec_tcx.o
projeto/mimo/others/EVS/c-code/build/hq2_core_com_fx.o
projeto/mimo/others/EVS/c-code/build/enc_nelp_fx.o
projeto/mimo/others/EVS/c-code/build/er_sync_exc.o
projeto/mimo/others/EVS/c-code/build/env_stab_trans_fx.o
projeto/mimo/others/EVS/c-code/build/re8_dec_fx.o
projeto/mimo/others/EVS/c-code/build/igf_dec.o
projeto/mimo/others/EVS/c-code/build/dec_pit_exc_fx.o
projeto/mimo/others/EVS/c-code/build/gs_dec_fx.o
projeto/mimo/others/EVS/c-code/build/evs_enc_fx.o
projeto/mimo/others/EVS/c-code/build/basop_util_jbm.o
projeto/mimo/others/EVS/c-code/build/cod_tcx.o
projeto/mimo/others/EVS/c-code/build/init_dec_fx.o
projeto/mimo/others/EVS/c-code/build/rom_basic_math.o
projeto/mimo/others/EVS/c-code/build/enc_acelp.o
projeto/mimo/others/EVS/c-code/build/acelp_core_dec_fx.o
projeto/mimo/others/EVS/c-code/build/rom_dec_fx.o
projeto/mimo/others/EVS/c-code/build/guided_plc_enc.o
projeto/mimo/others/EVS/c-code/build/frame_ener_fx.o
projeto/mimo/others/EVS/c-code/build/gs_bitallocation_fx.o
projeto/mimo/others/EVS/c-code/build/dlpc_stoch.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_dec_fx.o
projeto/mimo/others/EVS/c-code/build/gs_noisefill_fx.o
projeto/mimo/others/EVS/c-code/build/speech_music_classif_fx.o
projeto/mimo/others/EVS/c-code/build/waveadjust_fec_dec.o
projeto/mimo/others/EVS/c-code/build/bits_alloc.o
projeto/mimo/others/EVS/c-code/build/enh40.o
projeto/mimo/others/EVS/c-code/build/tfa_enc.o
projeto/mimo/others/EVS/c-code/build/rst_dec_fx.o
projeto/mimo/others/EVS/c-code/build/vlpc_2st_cod.o
projeto/mimo/others/EVS/c-code/build/est_tilt_fx.o
projeto/mimo/others/EVS/c-code/build/nelp_enc_fx.o
projeto/mimo/others/EVS/c-code/build/hf_synth_fx.o
projeto/mimo/others/EVS/c-code/build/hq_core_dec_fx.o
projeto/mimo/others/EVS/c-code/build/int_lsp_fx.o
projeto/mimo/others/EVS/c-code/build/enc_amr_wb_fx.o
projeto/mimo/others/EVS/c-code/build/inov_enc_fx.o
projeto/mimo/others/EVS/c-code/build/reordvct_fx.o
projeto/mimo/others/EVS/c-code/build/evs_dec_fx.o
projeto/mimo/others/EVS/c-code/build/enc_gen_voic_fx.o
projeto/mimo/others/EVS/c-code/build/core_com_config_fx.o
projeto/mimo/others/EVS/c-code/build/pit_dec.o
projeto/mimo/others/EVS/c-code/build/fft.o
projeto/mimo/others/EVS/c-code/build/syn_filt_fx.o
projeto/mimo/others/EVS/c-code/build/pvq_decode_fx.o
projeto/mimo/others/EVS/c-code/build/tcx_utils.o
projeto/mimo/others/EVS/c-code/build/vlpc_2st_com.o
projeto/mimo/others/EVS/c-code/build/parameter_bitmaping.o
projeto/mimo/others/EVS/c-code/build/avq_dec_fx.o
projeto/mimo/others/EVS/c-code/build/swb_tbe_com_fx.o
projeto/mimo/others/EVS/c-code/build/math_op.o
projeto/mimo/others/EVS/c-code/build/range_com_fx.o
projeto/mimo/others/EVS/c-code/build/d_gain2p.o
projeto/mimo/others/EVS/c-code/build/ltd_stable.o
projeto/mimo/others/EVS/c-code/build/interleave_spectrum_fx.o
projeto/mimo/others/EVS/c-code/build/weight_fx.o
projeto/mimo/others/EVS/c-code/build/gaus_dec_fx.o
projeto/mimo/others/EVS/c-code/build/enhUL32.o
projeto/mimo/others/EVS/c-code/build/jbm_pcmdsp_similarityestimation.o
projeto/mimo/others/EVS/c-code/build/dec_ppp_fx.o
projeto/mimo/others/EVS/c-code/build/log2.o
projeto/mimo/others/EVS/c-code/build/nois_est_fx.o
projeto/mimo/others/EVS/c-code/build/tec_com.o
projeto/mimo/others/EVS/c-code/build/corr_xh_fx.o
projeto/mimo/others/EVS/c-code/build/peak_vq_enc_fx.o
projeto/mimo/others/EVS/c-code/build/ari_dec.o
projeto/mimo/others/EVS/c-code/build/vlpc_2st_dec.o
projeto/mimo/others/EVS/c-code/build/stat_noise_uv_enc_fx.o
projeto/mimo/others/EVS/c-code/build/tcx_utils_enc.o
projeto/mimo/others/EVS/c-code/build/multi_harm_fx.o
projeto/mimo/others/EVS/c-code/build/oper_32b.o
projeto/mimo/others/EVS/c-code/build/bitstream_fx.o
projeto/mimo/others/EVS/c-code/build/interpol_fx.o
projeto/mimo/others/EVS/c-code/build/jbm_pcmdsp_apa.o
projeto/mimo/others/EVS/c-code/build/env_stab_fx.o
projeto/mimo/others/EVS/c-code/build/plc_enc_ext.o
projeto/mimo/others/EVS/c-code/build/acelp_enc_util.o
projeto/mimo/others/EVS/c-code/build/logqnorm_fx.o
projeto/mimo/others/EVS/c-code/build/tns_base_enc.o
projeto/mimo/others/EVS/c-code/build/isf_enc_amr_wb_fx.o
projeto/mimo/others/EVS/c-code/build/decoder.o
projeto/mimo/others/EVS/c-code/build/arith_coder_enc.o
projeto/mimo/others/EVS/c-code/build/tns_base.o
projeto/mimo/others/EVS/c-code/build/ari_hm_enc.o
projeto/mimo/others/EVS/c-code/build/hq_core_enc_fx.o
projeto/mimo/others/EVS/c-code/build/hq_lr_enc_fx.o
projeto/mimo/others/EVS/c-code/build/decision_matrix_dec_fx.o
projeto/mimo/others/EVS/c-code/build/control.o
projeto/mimo/others/EVS/c-code/build/vbr_average_rate_fx.o
projeto/mimo/others/EVS/c-code/build/find_wsp_fx.o
projeto/mimo/others/EVS/c-code/build/set_impulse_fx.o
projeto/mimo/others/EVS/c-code/build/mdct_classifier_fx.o
projeto/mimo/others/EVS/c-code/build/fill_spectrum_fx.o
projeto/mimo/others/EVS/c-code/build/updt_dec_fx.o
projeto/mimo/others/EVS/c-code/build/arith_coder_dec.o
projeto/mimo/others/EVS/c-code/build/gs_preech_fx.o
projeto/mimo/others/EVS/c-code/build/tcq_core_dec_fx.o
projeto/mimo/others/EVS/c-code/build/vad_proc.o
projeto/mimo/others/EVS/c-code/build/weight_a_fx.o
projeto/mimo/others/EVS/c-code/build/nelp_dec_fx.o
projeto/mimo/others/EVS/c-code/build/waveadjust_fec_cod.o
projeto/mimo/others/EVS/c-code/build/cod4t64_fx.o
projeto/mimo/others/EVS/c-code/build/lp_exc_e_fx.o
projeto/mimo/others/EVS/c-code/build/FEC_HQ_phase_ecu_fx.o
projeto/mimo/others/EVS/c-code/build/codec_tcx_common.o
projeto/mimo/others/EVS/c-code/build/pre_proc_fx.o
projeto/mimo/others/EVS/c-code/build/enc_gen_voic_rf_fx.o
projeto/mimo/others/EVS/c-code/build/rom_basop_util.o
projeto/mimo/others/EVS/c-code/build/lsf_msvq_ma_dec.o
projeto/mimo/others/EVS/c-code/build/gain_enc_fx.o
projeto/mimo/others/EVS/c-code/build/spec_flatness.o
projeto/mimo/others/EVS/c-code/build/ari_hm_dec.o
projeto/mimo/others/EVS/c-code/build/core_dec_reconf.o
projeto/mimo/others/EVS/c-code/build/re8_util_fx.o
projeto/mimo/others/EVS/c-code/build/enc_acelpx.o
projeto/mimo/others/EVS/c-code/build/tns_base_dec.o
projeto/mimo/others/EVS/c-code/build/jbm_pcmdsp_fifo.o
projeto/mimo/others/EVS/c-code/build/trans_inv_fx.o
projeto/mimo/others/EVS/c-code/build/tcx_utils_dec.o
projeto/mimo/others/EVS/c-code/build/cng_dec_fx.o
projeto/mimo/others/EVS/c-code/build/spec_center.o
projeto/mimo/others/EVS/c-code/build/core_switching_enc_fx.o
projeto/mimo/others/EVS/c-code/build/lsp_conv_poly_fx.o
projeto/mimo/others/EVS/c-code/build/hf_cod_amrwb_fx.o
projeto/mimo/others/EVS/c-code/build/fd_cng_com.o
projeto/mimo/others/EVS/c-code/build/bass_psfilter_enc.o
projeto/mimo/others/EVS/c-code/build/rom_com_fx.o
projeto/mimo/others/EVS/c-code/build/voiced_enc_fx.o
projeto/mimo/others/EVS/c-code/build/cod_ace.o
projeto/mimo/others/EVS/c-code/build/tcx_ltp_enc.o
projeto/mimo/others/EVS/c-code/build/updt_tar_fx.o
projeto/mimo/others/EVS/c-code/build/hvq_enc_fx.o
projeto/mimo/others/EVS/c-code/build/acelp_core_enc_fx.o
projeto/mimo/others/EVS/c-code/build/hq_lr_dec_fx.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_com_fx.o
projeto/mimo/others/EVS/c-code/build/normalizecoefs_fx.o
projeto/mimo/others/EVS/c-code/build/fine_gain_bits_fx.o
projeto/mimo/others/EVS/c-code/build/window.o
projeto/mimo/others/EVS/c-code/build/dec_acelp.o
projeto/mimo/others/EVS/c-code/build/init_enc_fx.o
projeto/mimo/others/EVS/c-code/build/update_decision.o
projeto/mimo/others/EVS/c-code/build/qlpc_avq.o
projeto/mimo/others/EVS/c-code/build/cng_enc_fx.o
projeto/mimo/others/EVS/c-code/build/ACcontextMapping.o
projeto/mimo/others/EVS/c-code/build/enc_uv_fx.o
projeto/mimo/others/EVS/c-code/build/SNR_calc.o
projeto/mimo/others/EVS/c-code/build/nelp_fx.o
projeto/mimo/others/EVS/c-code/build/lsf_msvq_ma.o
projeto/mimo/others/EVS/c-code/build/phase_dispersion.o
projeto/mimo/others/EVS/c-code/build/swb_tbe_enc_fx.o
projeto/mimo/others/EVS/c-code/build/range_enc_fx.o
projeto/mimo/others/EVS/c-code/build/comvad_decision.o
projeto/mimo/others/EVS/c-code/build/gs_inact_switching_fx.o
projeto/mimo/others/EVS/c-code/build/lsf_dec_fx.o
projeto/mimo/others/EVS/c-code/build/amr_wb_dec_fx.o
projeto/mimo/others/EVS/c-code/build/find_uv.o
projeto/mimo/others/EVS/c-code/build/swb_bwe_com_lr_fx.o
projeto/mimo/others/EVS/c-code/build/hq_hr_enc_fx.o
projeto/mimo/others/EVS/c-code/build/re8_cod_fx.o
projeto/mimo/others/EVS/c-code/build/scale_mem_fx.o
projeto/mimo/others/EVS/c-code/build/ppp_enc_fx.o
projeto/mimo/others/EVS/c-code/build/FEC_adapt_codebook_fx.o
projeto/mimo/others/EVS/c-code/build/longarith.o
projeto/mimo/others/EVS/c-code/build/updt_enc_fx.o
projeto/mimo/others/EVS/c-code/build/index_pvq_opt_fx.o
projeto/mimo/others/EVS/c-code/build/gs_enc_fx.o
projeto/mimo/others/EVS/c-code/build/pit_enc_fx.o
projeto/mimo/others/AMRWB-26173/c-code/d2t64fx.o
projeto/mimo/others/AMRWB-26173/c-code/lp_dec2.o
projeto/mimo/others/AMRWB-26173/c-code/random.o
projeto/mimo/others/AMRWB-26173/c-code/homing.o
projeto/mimo/others/AMRWB-26173/c-code/q_gain2.o
projeto/mimo/others/AMRWB-26173/c-code/hp6k.o
projeto/mimo/others/AMRWB-26173/c-code/lagconc.o
projeto/mimo/others/AMRWB-26173/c-code/c4t64fx.o
projeto/mimo/others/AMRWB-26173/c-code/isfextrp.o
projeto/mimo/others/AMRWB-26173/c-code/coder.o
projeto/mimo/others/AMRWB-26173/c-code/pitch_f4.o
projeto/mimo/others/AMRWB-26173/c-code/gpclip.o
projeto/mimo/others/AMRWB-26173/c-code/voicefac.o
projeto/mimo/others/AMRWB-26173/c-code/d4t64fx.o
projeto/mimo/others/AMRWB-26173/c-code/agc2.o
projeto/mimo/others/AMRWB-26173/c-code/hp7k.o
projeto/mimo/others/AMRWB-26173/c-code/dtx.o
projeto/mimo/others/AMRWB-26173/c-code/hp400.o
projeto/mimo/others/AMRWB-26173/c-code/decim54.o
projeto/mimo/others/AMRWB-26173/c-code/count.o
projeto/mimo/others/AMRWB-26173/c-code/levinson.o
projeto/mimo/others/AMRWB-26173/c-code/hp50.o
projeto/mimo/others/AMRWB-26173/c-code/c2t64fx.o
projeto/mimo/others/AMRWB-26173/c-code/syn_filt.o
projeto/mimo/others/AMRWB-26173/c-code/int_lpc.o
projeto/mimo/others/AMRWB-26173/c-code/lag_wind.o
projeto/mimo/others/AMRWB-26173/c-code/az_isp.o
projeto/mimo/others/AMRWB-26173/c-code/deemph.o
projeto/mimo/others/AMRWB-26173/c-code/pred_lt4.o
projeto/mimo/others/AMRWB-26173/c-code/dec_main.o
projeto/mimo/others/AMRWB-26173/c-code/basicop2.o
projeto/mimo/others/AMRWB-26173/c-code/cod_main.o
projeto/mimo/others/AMRWB-26173/c-code/autocorr.o
projeto/mimo/others/AMRWB-26173/c-code/util.o
projeto/mimo/others/AMRWB-26173/c-code/d_gain2.o
projeto/mimo/others/AMRWB-26173/c-code/ph_disp.o
projeto/mimo/others/AMRWB-26173/c-code/math_op.o
projeto/mimo/others/AMRWB-26173/c-code/qisf_ns.o
projeto/mimo/others/AMRWB-26173/c-code/cor_h_x.o
projeto/mimo/others/AMRWB-26173/c-code/log2.o
projeto/mimo/others/AMRWB-26173/c-code/updt_tar.o
projeto/mimo/others/AMRWB-26173/c-code/p_med_ol.o
projeto/mimo/others/AMRWB-26173/c-code/oper_32b.o
projeto/mimo/others/AMRWB-26173/c-code/decoder.o
projeto/mimo/others/AMRWB-26173/c-code/convolve.o
projeto/mimo/others/AMRWB-26173/c-code/qpisf_2s.o
projeto/mimo/others/AMRWB-26173/c-code/q_pulse.o
projeto/mimo/others/AMRWB-26173/c-code/wb_vad.o
projeto/mimo/others/AMRWB-26173/c-code/weight_a.o
projeto/mimo/others/AMRWB-26173/c-code/preemph.o
projeto/mimo/others/AMRWB-26173/c-code/isp_isf.o
projeto/mimo/others/AMRWB-26173/c-code/residu.o
projeto/mimo/others/AMRWB-26173/c-code/isp_az.o
projeto/mimo/others/AMRWB-26173/c-code/g_pitch.o
projeto/mimo/others/AMRWB-26173/c-code/bits.o
projeto/mimo/others/AMRWB-26173/c-code/pit_shrp.o
projeto/mimo/others/AMRWB-26173/c-code/hp_wsp.o
projeto/mimo/others/AMRWB-26173/c-code/scale.o
data_structure/Class/Questao1/ffr.o
data_structure/Class/Questao1/main.o
data_structure/Class/Questao2/decimal.o
data_structure/Class/Questao2/main.o
data_structure/Other/List/main.o
data_structure/Other/List/list.o
data_structure/Other/List2/main.o
data_structure/Other/List2/list.o
data_structure/ProjetoPratico3/geek.o
data_structure/ProjetoPratico3/teste.o
data_structure/ProjetoPratico3/main.o
data_structure/Stack/First Stack/stack.o
data_structure/Stack/First Stack/main.o
data_structure/Trabalho3/geek.o
data_structure/Trabalho3/main.o
data_structure/Final/geek.o
data_structure/Final/main.o
graphs/TP2/Codigo/grafo.o
graphs/TP2/Codigo/tp2.o
sites/
